* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header.cab {
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
}
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
}
body{
    background-color: rgb(223, 163, 241)
}
header.cab {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.875);
}
header.cab ul {
    float: right;
    margin-right: 200px;
}    
header.cab ul li{
    float: right;
    padding-left: 10px;
    list-style: none;
    margin: 50px 20px ;
}
header.cab ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}    
body h1{
    text-align: center;
    margin-top: 10%;
    font-size: 60px;
}    
